/* Global Reset */
/* Consistent Styling */
/* Developed by: Ken Matthew Fukutomi */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 400px;
  opacity: 0;
  animation: fadeInContainer 2s ease-in-out forwards;
  margin-top: 2950px; 
  margin-bottom: 0px;
}

.left-content h1 {
  font-size: 6.5em;
  line-height: 1.2;
  font-weight: bold;

  margin: 30px;
  color: var(--primary-text-color);
}

.highlight {
  color: #3b57ff;
  transition: color 0.5s ease;
  padding-top: 10px;
}

.opposing {
  color: var(--primary-text-color);
  transition: color 0.5s ease;
}

.opposing-below {
  color: #6065f5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana';
  position: relative;
  margin-left: 30px;


  margin-top: -32px;
  transition: color 0.5s ease-in-out;
  font-size: 1rem;
}
.opposing-below[data-theme='dark']{
  color: white;
}
.relative-svg {
  position: relative;
  top: 5px;
  
}

.right-content {
  max-width: 55%;
  padding-top: 40px;
  padding-right: 60px;
  text-align: left;
}

.right-content p {
  font-size: 1.5em;
  line-height: 1.5;
  color: var(--primary-text-color);
  transition: color 0.5s ease-in-out;
}

.demo-button {
  background-color: #3b57ff;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  margin-top: 20px;
}

.demo-button:hover {
  background-color: #3549e6;
  transform: translateY(-5px);
  filter: brightness(1.2);
}

.title-p, .urbantech {
  font-weight: bold;
  color: var(--demo-color1);
  transition: color 0.5s ease;
  text-decoration: none;
}
.app {
  transition: background-color 0.5s ease;
}


.ut-header {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.ut {
  color: #3b57ff;
  text-align: right;
}

.product-demo {
  padding: 40px 20px;
  height: 175vh;
  background-color: var(--home-bg);
  transition: background-color 0.5s ease;
}
.product-demo[data-theme='dark'] {
  background-color: #0a0a0a;
}

.workflow-div {
  background: linear-gradient(135deg, #000038, #333665);
  min-height: 60vh;
  width: 100%;
  padding: 60px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.workflow-header {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

.workflow-sub {
  font-size: 1.4rem;
  color: rgba(248, 248, 197, 0.9);
  max-width: 70%;
  margin-bottom: -10px;
  line-height: 1.6;
  position: relative;
  z-index: 2;
}

.workflow-hr {
  width: 60px;
  margin-top: 25px;
  margin-bottom: -10px;
  border: none;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, transparent, #c0e2fe, transparent);
  position: relative;
  z-index: 2;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.chart-container:hover {
  background: rgba(206, 201, 201, 0.1);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  /* zoom 1.25 */
  transform: scale(1.015);
}

@media (max-width: 768px) {
  .workflow-header {
    font-size: 2rem;
  }
  
  .workflow-sub {
    font-size: 1.2rem;
    max-width: 90%;
  }

  .chart-container {
    height: 300px;

  }
}

.footer-text {
  font-size: 1em;
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }
  
  .left-content h1 {
    font-size: 4.5em;
  }
  
  .right-content {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .left-content h1 {
    font-size: 2.5em;
  }

  .right-content p {
    font-size: 1em;
  }

  .demo-button {
    font-size: 1em;
    padding: 10px 18px;
  }
}

@media (max-width: 480px) {
  .left-content h1 {
    font-size: 2.5em;
  }

  .right-content p {
    font-size: 1em;
  }

  .about-container {
    margin-top: 50px;
  }
  
  .demo-button {
    font-size: 0.9em;
    padding: 8px 16px;
  }
}

@keyframes fadeInContainer {
  to { opacity: 1; }
}

.footer-lock {
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: #000038;
  color: #ffffff;
  font-size: 1em;
  z-index: 1000;
}

.footer {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--home-bg);
  transition: 0.5s ease-in-out;
  min-height: 500px;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer-title {
  font-size: 2.5rem;
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-text-color);
  transition: 0.5s ease-in-out;
}

.skibidi-footer {
  color: #2d44c8;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  transition: 0.5s ease-in-out;
  text-align: center;
  margin-bottom: 2.5rem;
}

.bold-skibidi {
  font-weight: bold;
}

.subscribe-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 12rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  border-radius: 8px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  transition: color 0.5s ease;
}

.email-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  background: transparent;
  color: var(--primary-text-color);
  font-size: 1.1rem;
}

.email-input::placeholder {
  color: #6065f5;
  transition: color 0.5s ease;
}

.subscribe-button {
  padding: 0.75rem 1.5rem;
  background-color: #3b57ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.5s ease;
}

.subscribe-button:hover {
  background-color: #3549e6;
}

.header-line {
  background-color: #000038;
  height: 14.35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.sub-header-line {
  background-color: #2a3364;
  height: 2.314px;
  width: 100%;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 1000;
}


.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  transition: color 0.5s ease-in-out;
}

.social-icon {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.5s ease;
}

.footer-info {
  color: #666;
  font-size: 0.9rem;
  margin-top: 20px;
}

.copyright {
  margin-bottom: 0.5rem;
}

.generation-date {
  color: #888;
}

[data-theme='dark'] .email-input::placeholder {
  color: #888;
}

.header-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInContainer 2s ease-in-out forwards;
}

.header-image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--home-bg);
}


.header-image .image-container {
  width: 100%;
  max-width: 10000px;
  padding: 0;
  text-align: center;
}

.responsive-header-image {
  width: 100%;
  height: auto; 
  max-height: 400px;
  display: block;
}
.demo-image1 {
  max-width: 700px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin: 20px 0;
  transform: translateX(100%);
  opacity: 0; 
  transition: transform 1s ease-out, opacity 1s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, .52);
}
.demo-image1 [data-theme='dark'] {
  max-width: 700px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin: 20px 0;
  transform: translateX(100%);
  opacity: 0; 
  transition: transform 1s ease-out, opacity 1s ease-out;
  box-shadow: 0 0 10px white;
}
.demo-image1:hover {
  transform: translateX(100%);
  opacity: 1;
}

/* Slide-in skibidi animation class should be fixed... */
.demo-image1.slide-in {
  transform: translateX(0);
  opacity: 1;
}

/* about ken fixed */
.about-ken {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #000038, #333665);
  background-size: 200% 200%;
  animation: gradientShift 5s ease infinite;
  padding: 60px 20px;
  margin-top: 0;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 45%;
  }
}

.logo-ribbon {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: relative;
}

.logo-ribbon-content {
  display: flex;
  gap: 8rem;
  animation: scroll 45s linear infinite;
}

.logo-ribbon-content::after {
  content: "";
  flex-shrink: 0;
  width: 100%;
}

.logo {
  height: 110px;
  width: 110px;
  display: inline-block;
}

.logo-mvc {
  height: auto;
  width: 140px;
  display: inline-block;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo-ribbon-content {
    gap: 4rem;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}