.button-19 {
  appearance: button;
  background-color: #3b52d0;
  border: solid transparent;
  border-radius: 2.5px;
  border-width: 0 0 4px;
  width: 120%;
  box-sizing: border-box;
  color: #ffffff;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Ctext y='20' font-size='24'%3E🍏%3C/text%3E%3C/svg%3E") 16 16, auto;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 12px 24px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

/* Apply custom cursor to all child elements of .button-19 */
.button-19, .button-19 * {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Ctext y='20' font-size='24'%3E🍏%3C/text%3E%3C/svg%3E") 16 16, auto;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #3b57ff;
  border: solid transparent;
  border-radius: 5px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(0.2);
  -webkit-filter: brightness(1.1);
}

/* fixed on nov 23 */
.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
