.logo-container {
  position: absolute;
  top: 2em;
  left: 2em;
  font-size: 25px;
  z-index: 1;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  background: linear-gradient(to right, #CCC 50%, #a65ca9 50%, #c4c8ff);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-in-out;
  z-index: 4;
}

.logo-container, .logo-container * {
  cursor: pointer
}

li {
  list-style-type: none;
}

.logo-container:hover {
  background-position: -100%;
}