.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content h1 {
  font-size: 8em;
  line-height: 1.2;
  font-weight: bold;
  position: absolute;
  top: 0.65em;
  left: 0.32em;
}

.highlight {
  color: #3b57ff;
}
.Opposing{
  color: var(--primary-text-color);
}

.right-content {
  max-width: 900px;
  text-align: left;
}

.right-content p {
  font-size: 1.25em;
  line-height: 1.5;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  position: absolute;
  left: 37em;
  top: 7.5em;
}

.demo-button {
  background-color: #3b57ff;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.demo-button:hover {
  background-color: #3549e6; /* Slightly darker blue on hover */
}
