/* Main App Container */
html {
  background-color: var(--background-color) !important;
  transition: background-color 0.5s ease;
  overflow-y: scroll;
}

.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.5s ease;  
}

/* Animation class to change background color */
.Home.hover-background {
  background: linear-gradient(135deg, #ff6f61, #f8e71c, #50e3c2);
  background-size: 200% 200%;
  animation: backgroundAnimation 3s ease infinite;
}

@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* Apply hover-background to .App when button is hovered */
.Home .btn-container:hover ~ .App,
.Home .button-19:hover ~ .App {
  background: var(--hover-background);
}

/* Title Styling */
.title {
  color: var(--primary-text-color);
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
}

/* Typewriter and Cursor Animations */
.typewriter {
  color: var(--toggle-bg);
  font-weight: bold;
}

.cursor {
  color: var(--toggle-bg);
  text-align: center;
  animation: blink 1s linear infinite;
  padding: 2.5px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Michigan Footer Text */
.michigan {
  color: grey;
  position: absolute;
  bottom: 1em;
  left: 1.15em;
  font-size: 18px;
}

/* LinkedIn Button */
.linkedin-btn {
  position: absolute;
  display: inline-flex;
  bottom: 3.1em;
  left: 1.55em;
  width: 25px;
  height: 25px;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Ctext y='20' font-size='24'%3E🍏%3C/text%3E%3C/svg%3E") 16 16, auto;
  transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.linkedin-btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* GitHub Button */
.github-btn {
  border-radius: 100px;
  display: inline-flex;
  position: absolute;
  bottom: 2.95em;
  left: 3.5em;
  width: 30px;
  height: 30px;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Ctext y='20' font-size='24'%3E🍏%3C/text%3E%3C/svg%3E") 16 16, auto;
}

.github-btn:hover {
  filter: brightness(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
