* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.section {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Define global CSS variables */
:root {
  --background-color: white;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

html {
  scroll-behavior: smooth;
}


[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --michigan-yellow: #ffcb05;
  --michigan-blue: #00274c;
  --demo-color1: rgb(248, 248, 197);
  --bg-about1: #e8e8e8;
}
[data-theme="dark"]{
  --demo-color2: rgb(61, 52, 52);
  --bg-about2: #2c2c2c;
}